<template>
    <div id="buttons" :class="{inactive:!props.showOptions}">
        <button id="205" @click="validate('205')">20min travail / 5 minutes pause</button>
        <button id="4515" @click="validate('4515')">45min travail / 15 minutes pause</button>
    </div>

</template>

<script setup>
    const props = defineProps(['options', 'showOptions']);

    const validate = (typeTime) => {
        if (typeTime === '205') {
            props.options.workTime = 20;
            props.options.breakTime = 5;
        }
        if (typeTime === '4515') {
            props.options.workTime = 45;
            props.options.breakTime = 15;
        }
    }
</script>

<style scoped>
    .inactive {
        opacity: 0;
    }

    #top {
        font-family: 'Product Sans', 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #buttons {
        display: flex;
        justify-content: center;
        margin-top: 1rem;

    }

    #buttons button {
        margin: 0 0.5rem;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        width: 10rem;
        border: none;
        border-radius: 2rem;
        background-color: #dccdd1;
        font-size: small;
    }

    #buttons button:hover {
        cursor: pointer;
        background-color: #dad3d3;
    }

    * {
        transition: all 0.2s ease-in-out;
    }

</style>